h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}


ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-line: 13%;
    --footer-padding-line: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-line: 6%;
        --footer-padding-line: 6px;
    }

    @media screen and (max-width: 576px) {
        --container-padding-line: 15px;
        --footer-padding-line: 15px;
    }
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container-padding-line);
}

.title {
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    text-align: center;

    span {
        position: relative;
    }

    span::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 75px;
        height: 2px;
        background-color: #000;
    }

    @media screen and (max-width: 768px) {
        & {
            font-size: 36px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            font-size: 24px;
        }
    }
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/bg.jpg') center center / cover no-repeat;
    padding-top: 75px;

    @media screen and (max-width: 768px) {
        & {
            background-image: url(../img/main-bg.jpg);
        }
    }

    @media screen and (max-width: 575px) {
        & {
            background-image: url(../img/mob-bg.jpg);
            min-height: 500px;
            padding-top: 50px;
        }
    }
}

.promo__title {
    color: var(--light-color);
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;
    }
}

.promo__subtitle {
    font-weight: 100;
    font-size: 32px;
    color: var(--light-color);
    margin-top: 124px;

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 30px;
            font-size: 16px;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 160px;
    min-height: 38px;
    background-color: #000000;
    border: 1px solid var(--light-color);
    margin-top: 20px;
    padding: 3px 10px;
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        font-size: 14px;
        width: 120px;
        min-height: 30px;
    }

}

.btn:hover {
    font-weight: 500;
    font-size: 16px;
    color: var(--light-color);
    box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}


.promo__addres {
    position: relative;
    margin-top: 100px;
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -45px;
        top: -17px;
        width: 40px;
        height: 49px;
        background: url("../icons/Arrow.svg") center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        &::before {
            left: -40px;
        }

        & {
            margin-top: 80px;
        }
    }

    @media screen and (max-width: 750px) {
        &::before {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        margin-top: 233px;
    }
}

.keywords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    width: 100%;
    height: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

    li {
        list-style-type: none;
        font-weight: 100;
        font-size: 10px;
        color: var(--light-color);
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {
        & li:nth-last-child(-n + 9) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child {
            display: none;
        }
    }
}

.about {
    background-color: var(--light-color);
    padding: 80px 0 0 0;

    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }
}

.about__title {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-color);
}

.about__text {
    width: 1100px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);

    span {
        color: #a5a5a5;
    }

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

.services {

    display: flex;
    column-gap: 10px;
    margin-top: 80px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    @media screen and (max-width: 576px) {
        margin-top: 20px;
    }
}



.services__item {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;

        li {
            position: relative;
            list-style-type: none;
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
            color: var(--dark-color);

            &:first-child::before {
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                left: -30px;
                top: 2px;
                background: url("../icons/Camera.svg") center center / cover no-repeat;
            }

            &:nth-child(3)::before {
                content: "";
                display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                left: -30px;
                top: 2px;
                background: url("../icons/Edit.svg") center center / cover no-repeat;
            }
        }
    }

    @media screen and (max-width: 768px) {
        & {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        & li {
            margin-bottom: 10px;
        }
    }

    @media screen and (max-width: 576px) {
        & li {
            margin-bottom: 5px;
        }
    }

}


.services__item-subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-color);
}

.services__text {
    width: 50%;
    width: 695px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--dark-color);

    @media screen and (max-width: 768px) {
        & {
            margin-top: 30px;
            width: 100%;
            font-size: 16px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 20px;
            font-size: 12px;
        }
    }
}

.works {
    background-color: var(--light-color);
    padding-top: 80px;

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.works__grid {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    /* gap: 50px 30px; */
    margin-top: 50px;

    img {
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        & {
            grid: none;
            gap: 15px;
        }
    }
}

.inspiration {
    background-color: var(--light-color);
    padding-top: 80px;

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.inspiration__grid {
    width: 100%;
    margin-top: 53px;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 30px;
    /* grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, minmax(100px, auto)); */

    img {
        height: 100%;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        /* grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(100px, auto)); */
        grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
        gap: 15px;
    }

    @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
    }
}

#sky {
    grid-column: 2/4;

    @media screen and (max-width: 768px) {
        grid-column: 1/3;
    }
}

#thenement {
    grid-column: 4;
    grid-row: 1/3;

    @media screen and (max-width: 768px) {
        grid-column: 2;
        grid-row: 2/4;
    }
}

.customers {
    background-color: var(--light-color);
    padding-top: 83px;
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.customers__flex {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .customers__img {
        box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
        width: calc((100% - 90px) / 4);
    }

    @media screen and (max-width: 567px) {
        & .customers__img {
            width: calc((100% - 40px) / 2);
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    padding: 88px 0;

    @media screen and (max-width: 768px) {
        & {
            flex-direction: column;
            justify-content: start;
            gap: 30px;
            padding-left: 50px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            padding-left: 0;
            justify-content: center;
            align-items: center;
        }

        .footer__tel {
            order: 2;
            /* 📞 Будет отображаться вторым на маленьких экранах */
        }

        .footer__addr {
            order: 3;
        }
    }

}

.border {
    display: flex;
    gap: 35px;

    li {
        border: 1px solid var(--light-color);
        width: 32px;
        height: 32px;
        padding: 5px;
    }

    @media screen and (max-width: 768px) {
        padding-left: 0;
    }
}

.footer__addr {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: var(--light-color);

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.footer__tel {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: var(--light-color);
    text-decoration: none;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }

}